<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>跡地</title>
    <link rel="shortcut icon" href="../assets/TemplateData/favicon.ico">
    <link rel="stylesheet" href="../assets/TemplateData/style.css">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>

  </head>
  <body>
    <p>跡地</p>
    <p>Unityちゃんとお話できるアプリはブラウザで遊べるアプリからWindows・Macアプリになりました。</p>
    <p><a href="http://ll.la/DcwEK3">ダウンロード</a></p>
  </body>
  
</html>
